<%- include('partials/header') -%>
  <div class="container">
    <div class="col-12">
      <h2>All Wounds</h2>
    </div>
    
    <div>
        <label for=""></label>
        <select name="" id="" onchange="javascript:location.href = this.value;">
          <option value="/wound/allWounds">Most Recent(Default)</option>
          <option selected value="/wound/woundsZtoA">Oldest</option>
          <option value="/wound/woundsPatient">Patient(A-Z)</option>
          <option value="/wound/woundsPatientZtoA">Patient(Z-A)</option>
        </select>
      </div>

    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<wounds.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <div class="woundbox">
              <div class="boxcolor">
              <div class="boxshadow">

              
              <div class="sortedby">
                <strong><p>Time Created: <%= wounds[i].createdAt%></p></strong>
              </div>
              
              <p id="woundname">Patient:<%=lastNames[i]%>,<%=firstNames[i]%></p>
              <p>Type:<%=wounds[i].Type%></p>
              <p>Location:<%=wounds[i].Location%></p>
              <p>Length:<%=wounds[i].Length%></p>
              <p>Width:<%=wounds[i].Width%></p>
              <p>Depth:<%=wounds[i].Depth%></p>
              <p>Odor:<%=wounds[i].Odor%></p>
              <p>Description:<%=wounds[i].Description%></p>
              <p>Intervention:<%=wounds[i].Intervention%></p>
              
            </div>
            </div>
            </div>
            <!--<a href="/post/<%= wounds[i]._id%>">
              <img class="img-fluid" src="<%= wounds[i].image%>">
            </a>-->
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>