<%- include('partials/header') -%>
  <div class="newWoundcontainer">
    <div class="shadow2">
      
    

      <section class="blacktop row col-12">
        <div class="allwoundsNav-ct"> <!--3 divs flexed into three columns-->
          <div class="whitetext topdiv">
            <p>User: <%=user.userName%></p>
          </div>
        
          <div class="allwoundsHeader middiv"> <!--Two divs flexed into a column-->
            <div class=" ">
              <h2 class="white" id="top">All Wounds</h2>
            </div>
          
            <div class=" woundpad ">
              <label for=""></label>
              <select name="" id="" onchange="javascript:location.href = this.value;">
                <option selected value="/wound/allWounds"><a href="">Most Recent(Default)</a></option>
                <option value="/wound/woundsZtoA">Oldest</option>
                <option value="/wound/woundsPatient"><a href="">Patient(A-Z)</a></option>
                <option value="/wound/woundsPatientZtoA"><a href="">Patient(Z-A)</a></option>
              </select>
            </div>
          </div>

          <div class="endiv">
            <a href="/profile" class="bluebutton btn whitetext">Profile</a>
            <a href="/woundsByUser" class="bluebutton btn whitetext">Wounds by User</a>
          </div>

      </div>
      
      <!--Mobile Nav-->
      
      <div class="allwounds-mobile-nav">
        <div class="allwounds-title-ct">
          <h2 class="white" id="top">All Wounds</h2>
          <div class=" woundpad ">
            <label for=""></label>
            <select name="" id="" onchange="javascript:location.href = this.value;">
              <option selected value="/wound/allWounds"><a href="">Most Recent(Default)</a></option>
              <option value="/wound/woundsZtoA">Oldest</option>
              <option value="/wound/woundsPatient"><a href="">Patient(A-Z)</a></option>
              <option value="/wound/woundsPatientZtoA"><a href="">Patient(Z-A)</a></option>
            </select>
          </div>
        </div>

        <div class="allw-mobile-menu-icon" onclick="toggleMobileMenu()">☰</div>
      </div>

      
    

      <div class="allwounds-mobile-dropdown">
        <a href="/profile" class="bluebutton btn whitetext">Profile</a>
        <a href="/woundsByUser" class="bluebutton btn whitetext">Wounds by User</a>

      </div>

         
      </section>


    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<wounds.length; i++) {%>
          <li class="col-4 justify-content-between mt-5 allwLi">
            <div class="woundbox">
            <div class="boxcolor">
            <div class="boxshadow">

                  <div class="anotherbox">
                    <div class="sortedby">
                    <strong><p>Time Created: <%= date[i]%> (<%=time[i]%>)</p></strong>
                    </div>
                  
                    <a class="nametag" href="/patientpage/<%=wounds[i].patient%>"><p id="woundname">Patient: <%=lastNames[i]%>, <%=firstNames[i]%></p></a>
                    <p class="pushingp"><strong>Injury Type:</strong> <span class="descriptvalue"><%=wounds[i].Type%></span></p>
                    <p class="pushingp">Location: <%=wounds[i].Location%></p>
                    <p class="pushingp">Length: <%=wounds[i].Length%></p>
                    <p class="pushingp">Width: <%=wounds[i].Width%></p>
                    <p class="pushingp">Depth: <%=wounds[i].Depth%></p>
                    <p class="pushingp">Odor: <%=wounds[i].Odor%></p>
                    <p class="pushingp">Description: <%=wounds[i].Description%></p>
                    <p class="pushingp">Intervention: <%=wounds[i].Intervention%></p>
                  </div> <!--anotherbox-->
            </div>
            </div>
            </div> <!--woundbox-->
          </li>
        <% } %>
        </ul>
    </div>
  

  <div class="row mb-5 col-12 justify-content-center bottombtns">
    <a href="#top" class="ms-2 mt-5 col-4 titles allw justify-content-center">Back to Top</a>
    <a href="/profile" class="ms-2 mt-5 col-4 titles allw">Profile</a>
  </div>

  </div>  
</div>

<%- include('partials/footer') -%>

