
<%- include('partials/header') -%>
<div class="newcontainer">
  <div class="shadow2">

      <main>
          <div>
            <section class="blacktop row col-12">
              <div class="deleteUsersNav-ct"> <!--3 divs flexed into three columns-->
              
                <div class="whitetext topdiv">
                  <p>User: <%=thisUser.userName%></p>
                </div>
              
                <div class="allwoundsHeader middiv whitetext"> <!--Two divs flexed into a column-->

                    <h2>Delete Users</h2>


                </div>
              
                <div class="endiv">
                  <a href="/profile" class="bluebutton btn whitetext">Profile</a>
                  <a href="/editRoles" class="bluebutton btn whitetext">Edit Roles</a>
                </div>
              
              </div>

               <!--Mobile Nav-->
               <div class="deleteUsers-mobile-nav">
                <p class="mobile-title">Edit Roles</p>
                <div class="mobile-menu-icon" onclick="toggleMobileMenuDeleteUser()">☰</div>
              </div>

              <!--Dropdown-->
              <div id="deleteUsers-mobile-dropdown">
                <a href="/profile" class="bluebutton btn whitetext">Profile</a>
                <a href="/editRoles" class="bluebutton btn whitetext">Edit Roles</a>              
              </div>
            </section>
          
          <div class="">
          

              <div class="editRole-ct col-8">
              <div class="editRoleScroll col-8">

                <ul class="row list-unstyled">
                  <% for (var i = 0; i < user.length; i++) { %>
                    <li class="col-12 justify-content-between mt-2 blackborder role-row roleBoxes" data-user-id="<%= user[i]._id %>">
                      <p>Username: <span class="teal"><%= user[i].userName %></span></p>
                      <p>Email: <span class="teal"><%= user[i].email %></span></p>
                      <p>Current Role: <span class="teal current-role"><%= user[i].role %></span></p>
                      <a href="/confirmDeleteUser/<%=user[i]._id%>" class="titles confbtn ">Delete</a>
                    </li>
                  <% } %>
                </ul>
                
              </div>  

             
              
            </div>  
        </div>
        </div>
      </main>
</div>
</div>
<%- include('partials/footer') -%>

