<%- include('partials/header') -%>

<main class="">
  <div class="row justify-content-center">
   
    <section class="col-4 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/newPatient" method="POST">
        <div class="mb-3">
          <label for="patientFName" class="form-label">First Name</label>
          <input
            placeholder="John"
            class="form-control"
            id="firstName"
            name="firstName"
          />
        </div>
        <div class="mb-3">
          <label for="patientLName" class="form-label">Last Name</label>
          <input
            placeholder="Smith"
            class="form-control"
            id="lastName"
            name="lastName"
          />
        </div>
        <button type="submit" class="btn btn-primary titles submit">Submit</button>
      </form>
    </section>

    <section class="col-5">
    <h2>Name List</h2>
    <div class="woundbox2 col">
      <div class="boxcolor2">
        <div class="boxshadow2">
          
              <div class="anotherbox">
              <ul class=" ms-1  col-11 row list-unstyled">
               
                <!--All patients collection-->
                <% for(var i=0; i < patients.length; i++) {%>
                  <li class="col-10 justify-content-between mt-2 name-ct">
                    
                    <p class=" ms-3 names"><%=patients[i].lastName%>, <%=patients[i].firstName%></p>
                    
                    
                  </li>
                  <div class="whitegradient mt-2 col-2">
                  <form class="mt-3 " action="/deletePatient/<%=patients[i]._id%>?_method=DELETE"
                          method="POST">
                          <span><button class="button5" type="submit"><i class="fa-regular fa-trash-can"></i></button></span>
                    </form>
                  </div>
                <% } %>
              </ul>
              </div>

          </div>
        </div>   
    </div>
    <section>
        <div>
            <a href="/profile" class="titles">Back to Profile</a>
           
        </div>
    </section>
  </div>
</section>
</main>


<script src='js/alt.js'></script>
<%- include('partials/footer') -%>
