<%- include('partials/header') -%>

<main class="container">
  <div class="row justify-content-center">
    <section>
        <div>
            <a href="/profile">Back to Profile</a>
        </div>
    </section>
    <section class="col-6 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/newPatient" method="POST">
        <div class="mb-3">
          <label for="patientFName" class="form-label">First Name</label>
          <input
            placeholder="John"
            class="form-control"
            id="firstName"
            name="firstName"
          />
        </div>
        <div class="mb-3">
          <label for="patientLName" class="form-label">Last Name</label>
          <input
            placeholder="Smith"
            class="form-control"
            id="lastName"
            name="lastName"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
    <div class="scrollbox col-6">
        <ul class="row list-unstyled">
               
                <!--All patients collection-->
                <% for(var i=0; i < patients.length; i++) {%>
                  <li class="col-12 justify-content-between mt-2 name-ct">
                    
                    <p class="names"><%=patients[i].lastName%>, <%=patients[i].firstName%></p>
                
                  </li>
                <% } %>
              </ul>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
