 


<%- include('partials/header') -%>
<div class="newWoundcontainer">
    <div class="shadow2">

        <div class="blacktop">
            <div class="newWndPtBox halfover col-12 ">
                <span class="newWndPt smallBlackBack">New Wound for: <strong><%=patient.lastName%></strong>, <strong><%=patient.firstName%></strong></span> 
            </div>  
        </div>

    <div class="container mt-5 mb-5">
  <form action="/wound/postWoundForm/<%=patient._id%>" method="POST">
    <div class="row justify-content-center">
      <!-- Left Column -->
      <div class="col-md-5">
        <!-- form content -->
        <div>
            <h2>Where is the Wound Located?</h2>
            <label for=""></label>
            <select name="location" id="location">
                <option value="Cranium">Cranium</option>
                <option value="Face">Face</option>
                <option value="Neck">Neck</option>
                <option value="Chest">Chest</option>
                <option value="Mouth">Mouth</option>
                <option value="Upper Back">Upper Back</option>
                <option value="Lower Back">Lower Back</option>
                <option value="Buttock">Buttock</option>
                <option value="Groin">Groin</option>
                <option value="left Arm">left Arm</option>
                <option value="Left Leg">Left Leg</option>
                <option value="Right Arm">Right Arm</option>
                <option value="Right Leg">Right Leg</option>
                <option value="Left Foot">Left Foot</option>
                <option value="Right Foot">Right Foot</option>
                <option value="Left Hand">Left Hand</option>
                <option value="Right Hand">Right Hand</option>
                <option value="Left Forearm">Left Forearm</option>
                <option value="Right Forearm">Right Forearm</option>
                <option value="Other">Other</option>
            </select>
        </div>
        
        <div>
            <h2>What type of Injury?</h2>
            <label for=""></label>
            <select name="type" id="type">
                <option value="Skin Tear">Skin Tear</option>
                <option value="Laceration">Laceration</option>
                <option value="Pressure Ulcer">Pressure Ulcer</option>
                <option value="Bruise">Bruise</option>
                <option value="Other">Other</option>
               
            </select>
        </div>

        <% const fieldErrors = {}; %>
        <% if (locals.messages && messages.errors) {
        messages.errors.forEach(err => {
       fieldErrors[err.param] = err.msg;
        });
        } %>


        <div>
            <h2>What size?</h2>
            <div>
              <label for="length"></label>
              <input type="text" placeholder="Length" id="length" name="length">
              <% if (fieldErrors.length) { %>
                <div class="text-danger"><%= fieldErrors.length %></div>
              <% } %>
            </div>

            <div>
              <label for="width"></label>
              <input type="text" placeholder="Width" id="width" name="width">
              <% if (fieldErrors.width) { %>
                <div class="text-danger"><%= fieldErrors.width %></div>
              <% } %>
            </div>

            <div>
              <label for="depth"></label>
              <input type="text" placeholder="Depth" id="depth" name="depth">
              <% if (fieldErrors.depth) { %>
                <div class="text-danger"><%= fieldErrors.depth %></div>
              <% } %>
            </div>

        </div>

        <div>
            <h2>Odor?</h2>
            <label for="Odor"></label>
            <select name="odor" id="odor">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>

        <div>
            <h2>Description of Wound</h2>
            <textarea name="description" id="description" cols="30" rows="10" Placeholder="Color, Shape, etc"></textarea>
        </div>

      </div>

      <!-- Right Column -->
      <div class="col-md-5 offset-md-1">
        <!-- image + intervention -->
        <div>
            <h2>Anatomical Position Diagram</h2>
            <img class="diagram" src="http://localhost:2026/imgs/AnatomicalPosition.webp" alt="Anatomical">
        </div>
        
        <div>
            <h2>Intervention</h2>
            <h3>Initial Intervention</h3>
        
            <div>
                <textarea name="intervention" id="intervention" cols="30" rows="10"></textarea>
            </div>
        </div>
      </div>
    </div>

    <!-- Bottom Section -->
    <div class="row mt-5 text-center">
      <div class="col-12">
        <p>Wound will be added to patient's record, notify Wound Nurse and:</p>
        <input type="checkbox" id="don" name="DON" value="Yes">
        <label for="don">DON</label>
        <input type="checkbox" id="pcp" name="PCP" value="Yes">
        <label for="pcp">PCP</label>
      </div>

      <div class="col-12 mt-3">
        <button type="submit" class="btn bluebutton">Add Wound</button>
      </div>
    </div>
  </form>
</div>

    
    </div> 
</div>

<%- include('partials/footer') -%>