<%- include('partials/header') -%>
<div class="newcontainer2">
<div class="shadow2">

  <div>
        <div class="row user-info blackback whitetext ">
            <h2 class="halfover2">Patient Wound Tracking Page</h2>
        </div>
  
    
       
        <div class="patientHeader-ct">
          <div class="woundHeader patientHeader">
            <h2 class=" ms-5 mt-2"><strong> Wounds for <%=lastName%>, <%=firstName%> (<%=count%>)</strong></h2>
          </div>
        </div>
            
       
   
   <section class="row ptPageNav2-ct ">
    <div class="ptPageNav2">
      
          <a  class="titles allw" href="/wound/newWoundForm/<%=patient._id%>">Create New Wound</a>
      

     
          <a  class="titles allw" href="/wound/allWounds">Back to All Wounds</a>
    
    </div>
   </section>
    
    
</div> <!--End of top nav and links-->

<!--<div style="height: 100px; background: red;">DEBUG</div>-->


<div class="invisibleborder">
    <div class="row justify-content-center mt-5">
     <!-- <div style="background: red">DEBUG 2</div>-->
        <div class="woundbox-ct">
         <!-- <div style="background: red">DEBUG 3</div>-->

          
          <% for(var i=0; i<wounds.length; i++){
            var woundIdStr = wounds[i]._id.toString(); 
            var recentDoc = woundDocsByWound[woundIdStr] ? woundDocsByWound[woundIdStr][0] : null;
          %>
            <div class="woundboxlist">
              <div class="woundbox">
                  <div class="boxcolor">
                  <div class="boxshadow">
                  
                    <div class="anotherbox">
                    <div class="sortedby">
                      <strong><p>Time Created: <%= wounds[i].createdAt%></p></strong>
                    </div>

                    <p id="woundname">Patient: <%=lastName%>,<%=firstName%></p>
                    <p class="pushingp">Injury Type: <%=wounds[i].Type%></p>
                    <p class="pushingp">Location: <%=wounds[i].Location%></p>
                    <p class="pushingp">Length: <%=wounds[i].Length%></p>
                    <p class="pushingp">Width: <%=wounds[i].Width%></p>
                    <p class="pushingp">Depth: <%=wounds[i].Depth%></p>
                    <p class="pushingp">Odor: <%=wounds[i].Odor%></p>
                    <p class="pushingp">Description: <%=wounds[i].Description%></p>
                    <p class="pushingp">Intervention: <%=wounds[i].Intervention%></p>
                      <% if (recentDoc) { %>
                        <!--If woundDoc exists then display button and div-->
                        <p class="recentWinfo">Most recent wound orders/Info:</p>
                        <div class="recentWoundinfoBox blackborder col-12 ">
                          <p>Updated: <%= recentDoc.createdAt %></p>
                          <p><strong><span class="tealglow">The wound Length is now:</span></strong> <%= recentDoc.Length %>cm</p>
                          <p><strong><span class="tealglow">The wound Width is now:</span></strong> <%= recentDoc.Width %> cm</p>
                          <p><strong><span class="tealglow">The wound Depth is now:</span></strong> <%= recentDoc.Depth %> cm</p>
                          <p><strong><span class="tealglow">Does the wound currently have an odor?:</span></strong> <%= recentDoc.Odor %></p>
                          <p><strong><span class="tealglow">Current Description of wound:</span></strong> <%= recentDoc.Description %></p>
                          <p><strong><span class="tealglow">Current Intervention for wound:</span></strong> <%= recentDoc.Intervention %></p>
                        </div>
                        <!--If woundDoc exists then display button and div-->
                      <% } %>
                    </div><!--anotherbox-->
                  </div><!--boxshadow-->
                  </div><!--boxcolor-->
              </div><!--woundbox-->
                            
            </div><!--woundboxlist-->
          <% } %>
         
          </div><!--woundbox-ct-->
      </div><!--row etc-->
    </div><!--empty div-->

</div><!--shadow2-->
</div><!--newcontainer2-->


<%- include('partials/footer') -%>