<%- include('partials/header') -%>
<div class="newcontainer">
    <div class="shadow2">
       
    <div>
        <div class="row user-info blackback whitetext halfover">
            <h2>Physician Page</h2>
        </div>
      
        <div class="physicianP-ct">
            

            <div class="columns column-left ">
            <div class="woundInfoBoxLeft existing-pt-ct">
            
                <div class="">
                
                  <h2 class="ms-5 mt-4 white">Existing Wounds</h2>
                
                  <p class="titles ms-5 mt-5 col-8">Existing Wounds</p>
                  <div class="ms-5 col-8 scrollbox2">
                    <!--Existing wounds collection-->
                    <!--Maybe get list of wounds and then extract the names and check for duplicates-->
                    <ul class=" list-unstyled">
                    
                    
                    
                      <% for(var i=0; i<patients.length; i++) {%>
                        <li class="col-10 justify-content-between mt-2 name-ct">
                          <a href="/physicianP/<%=patients[i]._id%>">
                            <p class="allnames ms-2"><%= patients[i].lastName%>, <%= patients[i].firstName%></p>
                          </a>
                        </li>
                      <% } %>
                      </ul>
                  </div>
              
              
                </div>  <!--empty-->
              </div>  <!--woundinfobox left-->
              </div> <!--column column-left-->
    
        <!--Right Column-->
        
        <div class="columns column-right ">
            
            <div class="woundInfoBoxRight ">
                <div class="physicianP-scrollbox">
                    <div>
                            <div class="ptProfile-ct">
                                <%if(ptImg){%>
                                    <div class="pt-profile ptImg-ct">
                                        <img src="<%=ptImg.Image%>" alt="Pt Image" class="ptImg">
                                    </div>

                                <%} else {%>
                                    <div class="pt-profile ptImg-ct">
                                        <img src="" alt="Pt Image" class="ptImg">
                                    </div>
                                <%}%>
                               
                               
                                <ul class="pt-profile">
                                    <li><h3>Patient Profile</h3></li>
                                    <li><p>Name: <%=patient.lastName%>, <%=patient.firstName%></p></li>
                                    <li><p>Age: 86</p></li>
                                    <li><p>Gender: Male</p></li>
                                    <li><p>Race: African-American</p></li>
                                    <!--<li><p>Need to either create another model or update an existing one to add this info.Last thing then css!</p></li>-->
                                </ul>
                            
                            </div>
                        
                            <div>
                                <input type="hidden" id="showFormWoundId" value="<%= messages?.showFormWoundId?.[0] || '' %>">
                                <div>
                                    <span>Patient Image</span>
                                    <p><a href="/physicianP/<%=patient._id%>/updatePtProfileImg">Edit Profile Image</a></p>
                                </div>
                               
                                <p>Wounds for: <%=patient.lastName%>, <%=patient.firstName%></p>
                                <ul class="woundList-ct">
                                    <% for(var i=0; i<wounds.length; i++) {%>
                                        <li class="col-10 justify-content-between mt-2 ppname-ct">
                                        
                                            <p class="allnames ms-2">Type: <%= wounds[i].Type%></p>
                                            <p class="allnames ms-2">Location: <%= wounds[i].Location%></p>
                                            <p class="allnames ms-2">Time Created: <%= wounds[i].createdAt%></p>
                                            
                                        
                                        </li>
                                        <li class="">
                                            <div>
                                                <h3>Orginal Wound Details:</h3>
                                                <p>Location: <%=wounds[i].Location%></p>
                                                <p>Type: <%=wounds[i].Type%></p>
                                                <p>Length: <%=wounds[i].Length%> cm</p>
                                                <p>Width: <%=wounds[i].Width%> cm</p>
                                                <p>Depth: <%=wounds[i].Depth%> cm</p>
                                                <p>Odor: <%=wounds[i].Odor%></p>
                                                <p>Description: <%=wounds[i].Description%></p>
                                                <p>Created By: <%=wounds[i].creator.userName%></p>
                                                
                                            </div>
                                            <button class="toggleFormBtn" data-wound-id="<%= wounds[i]._id %>">
                                                Add new Wound Info <span class="arrow-icon">▲</span> 
                                            </button> <!--button will be tan-->
                                            <div class="updateInputBox hidden">


                                            <form class="woundupdate-ct" action="/physicianP/<%=wounds[i].patient%>/updateWound" method="POST" enctype="multipart/form-data">
                                                <input type="hidden" name="Type"  value="<%=wounds[i].Type%>">
                                                <input type="hidden" name="Location" value="<%=wounds[i].Location%>">
                                                <input type="hidden" name="Patient" value="<%=wounds[i].patient%>">
                                                <input type="hidden" name="woundId" value="<%=wounds[i]._id%>">

                                                <!--Error Fields-->
                                                <% 
                                                let fieldErrors = {};
                                                const errorObjRaw = (messages?.errors || []).find(e => JSON.parse(e).woundId === wounds[i]._id.toString());
                                                if (errorObjRaw) {
                                                    const errorObj = JSON.parse(errorObjRaw);
                                                    errorObj.errors.forEach(err => { fieldErrors[err.param] = err.msg; });
                                                }
                                              %>

                                                <label for="Length">Length</label>
                                                <input class="col-2" type="text" name="Length">
                                                <% if (fieldErrors.Length) { %>
                                                    <div class="text-danger"><%= fieldErrors.Length %></div>
                                                <% } %>
                                                
                                                <label for="Width">Width</label>
                                                <input class="col-2" type="text" name="Width">
                                                <% if (fieldErrors.Width) { %>
                                                    <div class="text-danger"><%= fieldErrors.Width %></div>
                                                <% } %>

                                                <label for="Depth">Depth</label>
                                                <input class="col-2" type="text" name="Depth">
                                                <% if (fieldErrors.Depth) { %>
                                                    <div class="text-danger"><%= fieldErrors.Depth %></div>
                                                <% } %>

                                                <label for="Odor">Odor</label>
                                                <select name="Odor" class="col-2">
                                                    <option value="No">No</option>
                                                    <option value="Yes">Yes</option>
                                                </select>

                                                <label for="Description">Description</label>
                                                <textarea class="col-5" name="Description"></textarea>
                                                <% if (fieldErrors.Description) { %>
                                                    <div class="text-danger"><%= fieldErrors.Description %></div>
                                                <% } %>

                                                <label for="Intervention">Intervention</label>
                                                <textarea class="col-5" name="Intervention"></textarea>
                                                <% if (fieldErrors.Intervention) { %>
                                                    <div class="text-danger"><%= fieldErrors.Intervention %></div>
                                                <% } %>

                                                <span>Upload Wound Image</span>
                                                <input type="file" name="woundImg">
                                               
                                                <% if (fieldErrors.woundImg) { %>
                                                    <div class="text-danger"><%= fieldErrors.woundImg %></div>
                                                <% } %>

                                                <input type="submit">
                                            </form> 
                                            </div>

                                        </li>

                                        <div class="woundDocs-scrollBox">
                                            <% 
                                            var woundIdStr = wounds[i]._id.toString(); 
                                            var relatedDocs = woundDocsByWound[woundIdStr] || [];
                                            for (var j = 0; j < relatedDocs.length; j++) {
                                            %>
                                            
                                            <ul class="woundDoc-ct col-9 blackborder">
                                              <li><img src="<%= relatedDocs[j].Image %>" alt="Wound Image" class="woundDocImg enlargeable"></li>
                                              <p>Length: <%= relatedDocs[j].Length %> cm</p>
                                              <p>Width: <%= relatedDocs[j].Width %> cm</p>
                                              <p>Depth: <%= relatedDocs[j].Depth %> cm</p>
                                              <p>Odor: <%= relatedDocs[j].Odor %> cm</p>
                                              <p>Description: <%= relatedDocs[j].Description %></p>
                                              <p>Updated By: <%= relatedDocs[j].user.userName%></p>
                                            </ul>
                                            <% } %> <!--This closes the relatedDocs[j] loop-->
                                            
                                                <% if (relatedDocs.length === 0) { %>
                                                <p>No wound documentation for this wound yet.</p>
                                                <% } %>
                                        </div>
                                            <% } %> <!--This closes the wounds[i] loop-->
                                       
                                      
                                </ul>
                            </div>
                        
                        
                    </div> <!--Empty Div-->

                        
                    </div> <!--scrollbox-->
            </div> <!--WoundinfoBoxRight-->
        
        </div> <!--column column-right-->
    
    </div> <!--PhysicianP-ct-->
</div> <!--empty-->
</div> <!--shadow2-->
</div> <!--newcontainer-->
<%- include('partials/footer') -%>
    <div id="fullscreenModal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.9); z-index:9999;">
    <img id="modalImage" src="" style="margin:auto; display:block; max-width:90%; max-height:90%; position:absolute; top:0; bottom:0; left:0; right:0;">
    </div>