<%- include('partials/header') -%>
<div class="newcontainer">
    <div class="shadow2">
       
    <div>
        <div class="row user-info blackback whitetext">
            
            <div class="physicianPtNav-ct"> <!--3 divs flexed into three columns-->

              <div class="whitetext topdiv">
                <p>User: <%=user.userName%></p>
              </div>
            
              <div class="allwoundsHeader middiv"> <!--Two divs flexed into a column-->
                <div class=" ">
                  <h2 class="white" id="top">Physician Page</h2>
                </div>
              
              </div>
    
              <div class="pptendiv">
                <a href="/profile" class="bluebutton btn whitetext">Profile</a>
                
                <a href="/wound/allWounds" class="bluebutton btn">All Wounds</a>
              </div>
    
          </div>
        </div>
      
        <div class="physicianP-ct">

        <div class="columns column-left ">
        <div class="woundInfoBoxLeft existing-pt-ct">
        
            <div class="">
              
              <h2 class="ms-5 mt-4 white">Existing Wounds</h2>
              
              <p class="titles ms-5 mt-5 col-8">Existing Wounds</p>
              <div class="ms-5 col-8 scrollbox2">
                <!--Existing wounds collection-->
                <!--Maybe get list of wounds and then extract the names and check for duplicates-->
                <ul class=" list-unstyled">
                  
                  
                  
                  <% for(var i=0; i<patients.length; i++) {%>
                    <li class="col-10 justify-content-between mt-2 name-ct">
                      <a href="/physicianP/<%=patients[i]._id%>">
                        <p class="allnames ms-2"><%= patients[i].lastName%>, <%= patients[i].firstName%></p>
                      </a>
                    </li>
                  <% } %>
                  </ul>
              </div>
    
            
            </div>  
          </div>  
          </div>
    
        <!--Right Column-->
          <div class="columns column-right ">
            <div class="woundInfoBoxRight ">
            <div>
                <div class="ptProfile-ct">
                    <div class="pt-profile ptImg-ct">
                        <img src="" alt="Patient Image" class="ptImg">
                    </div>
                    <ul class="pt-profile demographics">
                      <div class="demlists">
                        <h3><strong>Patient Profile</strong></h3>
                        <p><strong>Name:</strong> </p>
                        <p><strong>Age:</strong>  </p>
                        <p><strong>Gender:</strong> </p>
                        <p><strong>Race:</strong> </p>
                    </div>
                    <div class="demlists">
                        <p><strong>Height:</strong></p>
                        <p><strong>Weight: </strong></p>
                        <p><strong>Allergies: </strong></p>
                        <p><strong>Mobility Status: </strong></p>
                        <p><strong>Smoker: </strong></p>
                    </div>
                    </ul>
                
                </div>

               
                <!--Patient Image-->
                
            </div>
            
            </div>
        </div>
    </div>
</div>
</div>
</div>
<%- include('partials/footer') -%>