<%- include('partials/header') -%>
<div class="newcontainer">
<div class="shadow2">
  
  <div class="row ">
<!--scrolling text-->
    <div class="marquee-container">
      <div class="marquee-content">
        Update Version-1.27 upcoming. System will shut down and restart @0300(CST) on 12/25/25. Please prepare acordingly. 
      </div>
    </div>

    <section class="blacktop navbar row col-12">
      <div class="profileNav-ct"> <!--3 divs flexed into three columns-->
      
        <div class="whitetext topdiv">
          <p><strong>Welcome:</strong> <%=user.userName%></p>
          <p><strong>Access Level:</strong> <%= user.role[0].toUpperCase()%><%=user.role.substring(1)%></p>

         
        </div>

       <% if (user.role === "manager" || user.role === "admin") { %>
        <div class="allwoundsHeader profilemiddiv-Admin whitetext"> <!--Two divs flexed into a column-->
          <h2>Profile</h2>
        </div>
       <%} else {%>
        <div class="allwoundsHeader profilemiddiv whitetext"> <!--Two divs flexed into a column-->
          <h2>Profile</h2>
        </div>
       <%}%>
       


        <% if (user.role === "manager" || user.role === "admin") { %>
          <div class="profileendiv-Admin">
            <p class="underline whitetext"><strong>Admin and Manager Access:</strong></p>
            <div class="adminBox">
              <a href="/logout" class="btn bluebutton">Logout</a>
              <a href="/physicianP" class="btn bluebutton">Physician Page</a>
              <a href="/editRoles" class="btn bluebutton">Role Edit</a>
              <a href="/editUsers" class="btn bluebutton">Delete Users</a>
            </div>
          </div>
        <% } else { %>
          <div class="profileendiv">
            <a href="/logout" class="btn bluebutton">Logout</a>
          </div>
        <% } %>
        
      </div>

     <!-- MOBILE NAV (HIDDEN ON DESKTOP) -->
<div class="profile-mobile-nav">
  <div class="mobile-title">Profile</div>
  <div class="mobile-menu-icon" onclick="toggleMobileMenuProfile()">☰</div>
</div>

<!-- DROPDOWN MENU FOR MOBILE -->
<div id="profile-mobile-dropdown">
  <a href="/logout" class="btn bluebutton">Logout</a>
  <% if (user.role === "manager" || user.role === "admin") { %>
    <a href="/physicianP" class="btn bluebutton">Physician Page</a>
    <a href="/editRoles" class="btn bluebutton">Role Edit</a>
    <a href="/editUsers" class="btn bluebutton">Delete Users</a>
  <% } %>
</div>

      

    </section>


    
    
  
    <div class="profilecolumns">
    <!--first column-->
      <div class="  col-6 all-pt-ct">
          
          <div class="all-pt col-10">
            <!--<a href="/newWoundForm">New Wound? + </a>
            <a href="/newPatient">Add New Patient</a>-->
           <h2 class="ms-5 mt-4 white">Create Wound For:</h2>
           
            <p class="titles col-8 ms-5 mt-5">All Patients</p>
            <div class=" ms-5 col-8 scrollbox2">
              <ul class="list-unstyled">
                
                <% for(var i=0; i < patients.length; i++) {%>
                  <li class="col-10 justify-content-between mt-2 name-ct">
                    
                    <a href="/wound/newWoundForm/<%=patients[i]._id%>"><p class="allnames ms-2"><%=patients[i].lastName%>, <%=patients[i].firstName%></p></a> 
                
                  </li>
                <% } %>
              </ul>
            </div>  
            <div class="row col-12 align-content-center links">
              <a href="/newPatient" class="white titles allw ms-5 mt-5 col-6">Add/Delete Patient <span><i class="fa-solid fa-user-plus"></i></span></a>
              
            </div>
          </div>
      </div>

      <!--second column-->
      <div class=" col-6 existing-pt-ct">
        
        <div class="existing-pt col-10">
          
          <h2 class="ms-5 mt-4 white">Existing Wounds</h2>
          
          <p class="titles ms-5 mt-5 col-8">Existing Wounds</p>
          <div class="ms-5 col-8 scrollbox2">
            <!--Existing wounds collection-->
            <!--Maybe get list of wounds and then extract the names and check for duplicates-->
            <ul class=" list-unstyled">
              
              
              
              <% for(var i=0; i<wound.length; i++) {%>
                <li class="col-10 justify-content-between mt-2 name-ct">
                  <a href="/patientpage/<%=wound[i]._id%>">
                    <p class="allnames ms-2"><%= wound[i].lastName%>, <%= wound[i].firstName%></p>
                  </a>
                </li>
              <% } %>
              </ul>
          </div>

          <div class="row col-12 align-content-center links">
            <a href="/wound/allWounds" class="ms-5 mt-5 col-6 titles allw">All Wounds</a>
          </div>
        </div>  
      </div>  
    </div> <!--Around 2 wound columns-->

    </div>
  </div>
</div>
<%- include('partials/footer') -%>