<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-12 user-info">
      <p><strong>Welcome</strong>: <%= user.userName %></p>
      
      <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>
    <!--first column-->
      <div class="col-6 all-pt-ct">
          
          <div>
            <!--<a href="/newWoundForm">New Wound? + </a>
            <a href="/newPatient">Add New Patient</a>-->
            <p>All Patients</p>
            <div class=" col-8 add-patient">
              <a href="/newPatient">Add Patient</a>
            </div>
            <div class="col-8 scrollbox">
              <ul class="row list-unstyled">
                <% for(var i=0; i < patients.length; i++) {%>
                  <li class="col-12 justify-content-between mt-2 name-ct">
                    
                    <a href="/wound/newWoundForm/<%=patients[i]._id%>"><p><%=patients[i].lastName%>, <%=patients[i].firstName%></p></a> 
                
                  </li>
                <% } %>
              </ul>
            </div>  

          </div>
      </div>

      <!--second column-->
      <div class="col-6 existing-pt-ct">
        
        <div class="">
          <p>Existing Wounds</p>
          <div class="col-8 scrollbox">
            <!--Existing wounds collection-->
            <!--Maybe get list of wounds and then extract the names and check for duplicates-->
            <ul class="row list-unstyled">
              <p>Baker, Gjarred</p>
              <p>Baker, Gjarred</p>
              <p>Baker, Gjarred</p>
              <p>Baker, Gjarred</p>
              <p>Baker, Gjarred</p>
              <p>Baker, Gjarred</p>
              <p>Baker, Gjarred</p>
              <p>Baker, Gjarred</p>
              <p>Baker, Gjarred</p>
              <p>Baker, Gjarred</p>
              <% for(var i=0; i<wound.length; i++) {%>
                <li class="col-6 justify-content-between mt-5">
                  <a href="/post/<%= wound[i]._id%>">
                    <img class="img-fluid" src="<%= wound[i].image%>">
                  </a>
                </li>
              <% } %>
              </ul>
          </div>
        </div>  
      </div>  


    </div>
  </div>

<%- include('partials/footer') -%>