<%- include('partials/header') -%>
<main>
    <div>

       <div class="editHeader">
            <h2>Edit Roles</h2>
            <p>(One User at a time)</p>
            <p><a href="/profile">Back to Profile</a></p>
        </div>
        
        <ul>
            <ul class="row list-unstyled">
                <% for(var i=0; i < user.length; i++) {%>
                  <li class="col-12 justify-content-between mt-2 blackborder">
                    <p>Username: <span class="teal"><%=user[i].userName%></span></p>
                    <p>Email: <span class="teal"><%=user[i].email%></span></p>
                    <p>Current Role: <span class="teal"><%=user[i].role%></span></p>
                    <form 
                    action="/updateRoles/<%=user[i].id%>?_method=PUT"
                    method="POST" >
                        <p>Please select new role</p>
                        <input type="radio" name="newRole" value="user">
                        <label for="">user</label>
                        <input type="radio" name="newRole" value="manager">
                        <label for="">manager</label>
                        <input type="radio" name="newRole" value="admin">
                        <label for="">admin</label>
                        <input type="submit">
                    </form>
                  </li>
                <% } %>
              </ul>
        </ul>
    </div>
</main>
<%- include('partials/footer') -%>
